@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  color: rgb(116, 116, 116);
  padding: 16px 0;
  cursor: pointer;
}

li:hover {
  color: black;
}

li.active {
  border-bottom: 2px solid black;
}

.dash {
  stroke-dasharray: 22;
  stroke-dashoffset: 1;
  animation: dash 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite
    alternate-reverse;
}

.modal_active {
  width: 90vw;
  background: white;
  padding: 0 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

@keyframes dash {
  to {
    stroke-dashoffset: 220;
  }
}
